html, body {
    font-family: sans-serif;
    background-color: #fff;
    color: rgb(255, 155, 171);
    /* user-select: none; */
}
a {
    color: rgb(255, 155, 171);
    text-decoration: none;
}
@font-face {
	font-family: 'Outfit';
	src: url(./Outfit-SemiBold.ttf);
}
/* bg */
#bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.3;
}
/* main */
main {
    width: 100%;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    transition: .5s;
    max-width: 1100px;
}

/* header */
header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}
header > .logo {
    width: 120px;
    height: 100%;
    float: left;
    opacity: .8;
}
header > #tabs {
    width: calc(100% - 120px);
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
header > #tabs > .tab {
    width: 100px;
    height: 70%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    font-family: "Outfit";
    color: rgb(255, 155, 171);
}
header > #tabs > .tab:hover {
    background-color: rgba(255, 221, 227, 0.514);
}
header > #tabs > .active {
    border-bottom: solid 3px rgb(255, 155, 171);
    box-sizing: border-box;
}

/* loading */
#loading {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 3;
    transition: .2s;
    display: flex;
    align-items: center;
    justify-content: center;
}
#loading > img{
    width: 50%;
    max-width: 300px;
    animation: flash 2.8s ease-out infinite;
}
@keyframes flash {
    0% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
}

  
/* common */
#main {
    width: 100%;
    padding: 0px 20px 20px 20px;
    box-sizing: border-box;
}
.content_box {
    width: 100%;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
}
.content_box > .title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-top: 30px;
    font-size: 30px;
    font-family: "Outfit";
}
.content_box > .content {
    border-radius: 10px;
}
.content_box > .content > a {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #272727;
    color: #000;
    font-family: sans-serif;
}
svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: 150px;
    opacity: 0.2;
    position: absolute;
    top: 10px;
    left: -60px;
    animation:30s linear infinite rotation1
}
@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
}


/* updates */
.section_parent {
    position: relative;
}
.section {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 3px 10px 0 rgba(#000, 0.1);
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    border-radius: 5px;
    padding: 20px 20px 20px 0px;
    box-sizing: border-box;
    overflow-y: hidden;
}
.section__item {
    flex: 0 0 170px;
    width: 170px;
    scroll-snap-align: start;
    cursor: pointer;
    border-radius: 2px;
    transition: .1s;
}
.section__item > div{
    background-color: rgb(255, 192, 203);
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.section__item > div > img{
    object-fit: contain;
    border: solid 2px #fff;
    box-sizing: border-box;
    opacity: .7;
    width: 100%;
    border-radius: 10px;
}
.section__item > p{
    width: 100%;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 25px;
    font-family: sans-serif;
    color: rgba(26, 26, 26, 0.808);
    font-size: 13px;
    font-weight: bold;
}
.section_parent > .shadow{
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    /* background: linear-gradient(90deg, transparent, #000000); */
}


/* timeline */
#timeline {
    width: 100%;
}
#timeline > a {
    width: 100%;
    height: 90px;
    cursor: pointer;
    line-height: 20px;   
    text-decoration: none; 
    border-bottom: 5px solid rgba(255, 155, 172, 0.568);
    background-color: #fff;
    color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;    
    display: block;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}
#timeline > a:hover {
    /* border-bottom: 2px solid #ffffff; */
}
#timeline > a > .date {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
}
#timeline > a > .content {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 12px;
}



/* data */
#profile_plus {
    width: 100%;
}
#profile_plus > .data{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;   
    border-bottom: 5px solid rgba(255, 155, 172, 0.568);
    user-select: text;
    border-radius: 10px;    
}
#profile_plus > .data:first-child{
    margin-top: 20px;
}
#profile_plus > .data > div {
    width: 100%;
}
.name, .desc {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding: 3px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.726);
    font-weight: bold;
    font-size: 12px;
}
.name {
    font-size: 14px;
}
.desc {
    line-height: 18px;
}

#sns_box > div{
    float: left;
    width: 50%;
    box-sizing: border-box;
    transition: .5s;
}
#sns_box > div:first-child{
    padding-right: 20px;
}
@media screen and (max-width: 600px) {
    #sns_box > div{
        width: 100%;
        min-width: unset;
    }
    #sns_box > div:first-child{
        padding-right: unset;
    }
}



/* twitter */
#twitter {
    width: 600px;
    height: 400px;
    max-width: 100%;
    margin-top: 20px;
    padding: 13px 10px 0px 10px;
    background:rgba(255, 155, 172, 0.568);
    border-radius: 10px;
    box-sizing: border-box;
    border: solid 3px #fff;
}


/* youtube */
.iframe-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border: solid 3px #fff;
    border-radius: 10px;
}
.iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#youtube_parent {
    margin-top: 20px;
    padding: 13px 10px 0px 10px;
    background:rgba(255, 155, 172, 0.568);
    border-radius: 10px;
    box-sizing: border-box;
}


/* anime */
#anime {
    margin-top: 20px;
}
.toggle {         /*ベース*/
    display: none;
}
.Label {		/*タイトル*/
    padding: 1em;
    display: block;
    color: #fff;
    background:rgba(255, 155, 172, 0.568);
    border-radius: 10px;
    font-weight: bold;
}
.Label::before{		/*タイトル横の矢印*/
    content:"";
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    -webkit-transform: rotate(45deg);
    position: absolute;
    top:calc( 50% - 3px );
    right: 20px;
    transform: rotate(135deg);
}
.Label,
.accordion_content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.048);
}
.accordion_content {		/*本文*/
    height: 0;
    margin-bottom:10px;
    padding:0 20px;
    overflow: hidden;
    color: rgb(255, 155, 171);
}
.toggle:checked + .Label + .accordion_content {	/*開閉時*/
    height: auto;
    padding:20px ;
    transition: all .3s;
}
.toggle:checked + .Label::before {
    transform: rotate(-45deg) !important;
}
.accordion_content > p {
    padding-bottom: 5px;
    padding-top: 5px;
}

.newlabel {
    background-color: red;
    padding: 3px 4px 3px 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    margin: 5px;
}
.likelabel {
    background-color: rgb(255, 183, 59);
    color: #fff;
    padding: 0px 4px 0px 4px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 13px;
    margin: 5px;
}


/* playlist */
#playlist {
    margin-top: 20px;
}
#more {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.048);
    text-decoration: none;
    background-color: rgba(255, 155, 172, 0.568);
    color: #fff;
    border-radius: 10px;
}